/* Global */

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	position: relative;
}

/* HEADER */

.header {
	display: flex;
	justify-content: space-between;
	z-index: 2;
	padding: 0 2rem;
}

.at-the-top {
	background-color: transparent !important;
}

.header--visible {
	background-color: #fd8821;
	width: 100%;
	position: fixed;
	top: 0;
	transition: all ease-in 0.5s;
}

.header--hidden {
	top: -30%;
	transition: all ease-out 0.5s;
}

.header__home {
	color: white;
	font-size: 1.5rem;
	align-self: center;
	padding: 1rem 0;
}

.home__link {
	text-decoration: none;
	color: white;
	font-family: 'Archivo Black', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.3em;
}

.home-icon {
	padding-right: 0.5em;
	font-size: 1.2em;
}

.header__menu {
	align-self: center;
	display: flex;
	/* align-items: flex-end; */
	justify-content: center;
}

.header__menu > nav > ul {
	list-style: none;
}

.header__menu > nav > ul > li {
	display: inline-block;
	padding: 1rem;
}

.header__link {
	text-decoration: none;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.5em;
}

.header__link::after {
	content: '';
	display: block;
	background-color: #fff;
	height: 0.2em;
	width: 0;
	margin-left: auto;
	transition: all ease-out 0.2s;
}

.header__link:hover::after {
	width: 100%;
	margin-left: 0;
	margin-right: auto;
}

.header__link--active::after {
	width: 100%;
	margin-left: 0;
	margin-right: auto;
}

/* TODO: find a way to add these pseudo elements dynamically. */
.header__link--yellow::after {
	background-color: #f1c40f;
}

.header__link--green::after {
	background-color: #16a085;
}

.header__link--blue::after {
	background-color: #2980b9;
}

.header__link--red::after {
	background-color: #e74c3c;
}

/* HERO */

.hero {
	background-image: url(../media/hero_bg.svg);
	height: 100vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	position: relative;
}

.hero__image {
	width: 12%;
	top: 10%;
	position: absolute;
	opacity: 0.1;
}

.hero > a {
	position: absolute;
	bottom: 0;
	color: #bbb;
	font-size: 0.8rem;
	margin-bottom: 0.2rem;
}

.hero__header {
	font-family: 'Archivo Black', sans-serif;
	font-weight: 500;
	letter-spacing: 0.2em;
	font-size: 7rem;
	z-index: 1;
}

/* SECTIONS */

.content__section {
	text-align: center;
	overflow: hidden;
	height: 100%;
}

.content__section .section__header {
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: #2e3436;
	font-family: 'Dosis', sans-serif;
	font-size: 4em;
	position: relative;
	left: 100%;
	transition: all ease-in 0.5s;
}

.section__content {
	margin-bottom: 1em;
	margin-right: 3em;
	margin-left: 3em;
	color: #2e3436;
	position: relative;
	height: 100vh;
	right: 100%;
	transition: all ease-in 0.5s;
	font-family: 'Montserrat', sana-serif;
	font-size: 2em;
	padding: 1em;
}

/* Section collapse */
.hidden {
	display: none;
}

.section--height-collapse {
	height: 100%;
}

.section__header--collapse {
	left: 0 !important;
}

.section--active {
	box-shadow: inset 2px 2px 10px 3px #bbb;
	/* border: 5px solid red; */
}
/* 
Found the answer for substring-matching selectors at:
https://stackoverflow.com/questions/3338680/is-there-a-css-selector-by-class-prefix
  */
i[class*=' fa-caret'] {
	cursor: pointer;
	padding-right: 0.5em;
	position: absolute;
	right: 2%;
}

/* SCROLL TO TOP BTN */

.scroll-to-top {
	position: fixed;
	z-index: 2;
	bottom: 0;
	left: 45%;
	margin: 1.7em 0;
	border: none;
	padding: 0.5em 0;
	opacity: 0.3;
	transform: scale(0.8);
	cursor: pointer;
	transition: all ease-out 0.3s;
}

.scroll-to-top:hover {
	transform: scale(1);
	opacity: 1;
}

.scroll-to-top > i {
	font-size: 7em;
	color: white;
}

.header__hamburger {
	display: none;
}

@media screen and (max-width: 810px) {
	.hero__header {
		font-size: 5rem;
	}

	.content__section .section__header {
		font-size: 2em;
	}

	.section__content {
		font-size: 1em;
		line-height: 1.5em;
		padding: 0 3em;
		margin: 2em;
		/* text-justify: inter-word; */
		/* text-align: justify; */
	}

	.header__home {
		z-index: 3;
	}

	.header__menu {
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-flow: wrap;
		transform: translateX(-100%);
		background-color: #fd8821;
		padding: 160px 60px 0;
		margin-left: 0;
		transition: all ease-out 0.5s;
		transition-delay: 0.1s;
	}

	.header__menu > nav > ul > li {
		transition-delay: 0.6s;
		margin-right: 10em;
		white-space: nowrap;
		transform: translateX(-100%);
		transition: transform ease-out 0.6s;
	}

	.header__menu > nav {
		margin-left: -10%;
	}

	.header__menu > nav > ul > li > a {
		font-size: 2.5em;
	}

	.header__hamburger {
		/* margin: auto 0; */
		align-self: center;
		font-size: 2em;
		color: white;
		z-index: 3;
		display: block;
	}

	.header__hamburger:hover {
		cursor: pointer;
	}
}

/* Must keep at the bottom of the other properties */
.header__menu--active {
	transform: translateX(0);
}

.header__menu--active .menu__item--active {
	transition-delay: 0.4s !important;
	transform: translateX(0) !important;
}
